html {
  background-color:black;
  color:white;
}
h1 {
  padding: 40px;
  text-decoration: underline;
}
a {
  text-decoration: none;
  list-style-type: none;
  color:cyan;
  font-size: 16px;
}

body {
  font-family: monospace;
    text-align: center;}

footer {
  font-style: italic;
}
.god {
  max-width:100%;
  height:auto;
}
